.delete-item {
  float: rigth;
  position: absolute;
  right: 10px;
}
.list-group-item {
  font-size: 25px;
}

.check-list {
  margin-right: 10px;
  height: 24px;
  width: 24px;
}
.done-task {
  background-color: #5cb85c;
  opacity: 0.5;
}
