.delete-item {
  float: rigth;
  position: absolute;
  right: 10px;
  top: 20px;
}
.list-group-item {
  font-size: 25px;
}

.check-list {
  margin-right: 10px;
  height: 24px;
  width: 24px;
}
.done-task {
  background-color: #5cb85c;
  opacity: 0.5;
}
.critical-task {
  background-color: #d9534f;
  opacity: 0.5;
}
.date-task {
  font-size: 12px;
  margin: 10px 0px 0px 25px;
}
